<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registeration</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Registeration successfull</h1>
    <p>User you have successfully registered as <%=name %></p>
    <a href="/login">Log In</a>

    <script src="/stylesheets/javascripts/script.js"></script>
  </body>
</html>
